body{
	background-color: white;
	background-image: url("lucky.jpg");
	background-size: cover;

}
div{
	position:relative;
}
#container{
	background-color: gray;
	opacity: 60;
	height:500px;
	width:500px;
	margin:auto;
	top:100px;
}